/* Header Styling - Navigation Bar */
header {
    display: flex;
    justify-content: space-between; /* Aligns logo and nav to opposite sides */
    align-items: center;
    padding: 20px;
    background: #002147; /* Dark blue background */
    color: white;
}

.logo {
    height: 80px;
}

.page-container {
  display: flex;
  min-height: 100vh;
}

.side-panel {
  width: 33%;
  background-color: #dcdcdc; /* Light grey side panels */
}

.main-content {
  width: 34%;
  padding: 30px 20px;
  background-color: #fff;
}


body {
  font-family: Arial, sans-serif;
  background-color: #e2e3e5;
  color: #333;
}

.book-cards h2 {
  font-size: 30px;
  margin: 40px 0 20px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 38px;
  margin-top: 30px;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.card-content h1 {
  font-size: 24px;
}

.product-img {
  width: 100%;
  max-height: 120px; 
  object-fit: contain; 
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
}


.checkout-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.checkout-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.basket-container {
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 20px;
}

.checkout-list li {
  background: #fff;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.checkout-list button {
  background-color: #e0222e;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-list button:hover {
  background-color: #b91d27;
}

footer {
    text-align: center;
    padding: 20px;
    background: #002147; /* Dark blue */
    color: white;
}
